---
---

.article
  - if article?
    .article_date.date{:title => iso8601_time(item[:created_at]) }= pretty_time(item[:created_at])
  
  - if article?
    %h1.title
      %a{:href => route_path(item)}= item[:title]
    - if item[:tags]
      .tags= tag_list(item)
      
  - else
    %h1.title= item[:title]

  .body
    != content || partial(item)
    
    - if disqus_shortname
      - if disqus
        = render('_disqus', :item => @item)
      - else
        %a{:href => "#{route_path(item)}#disqus_thread", :'data-disqus-identifier' => item[:created_at] } Comments
